h1 {
    text-align:center;

}

main {
    background-color: white;
}

nav {
    background-color: grey;
    font: bold;
}

.col-5 {
    position:relative;
}



img {
width: 500px;
height: 600px;
}

img:hover {
    border-color: black;
}