h1 {
    text-align:center;

}

h2 {
    text-align:center;
}


h4 {
  text-align:center;
}

main {
    background-color: white;
}

nav {
    background-color: grey;
    font: bold;
}

.col-5 {
    position:relative;
}



img {
width: 300px;
height: 400px;
}

img:hover {
    border-color: black;
}

ul {
    list-style-type: none;
}